<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>SEWEBAR Connect</title>
	<link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/app.js")"></script>
	@RenderSection("Header", false)
</head>
	<body>
		@if (User.Identity.IsAuthenticated)
		{
			<div style="float:right">@User.Identity.Name | <a href="@Url.Action("Logout", "Login")">Log out</a></div>
		}

		@RenderBody()
	</body>
</html>
