@using LMWrapper.LISpMiner
@model LISpMiner

@{
	ViewBag.Title = "Miner";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Miner</h1>
<h2>@Model.Id</h2>
<dl>
	<dt>Home path</dt>
	<dd>@Path.GetFullPath(Model.LMPrivatePath)</dd>

	<dt>Created</dt>
	<dd>@Model.Created</dd>

	<dt>Version</dt>
	<dd>@Model.Version</dd>
</dl>

<h2>Tasks</h2>
<pre>
@Model.GetTaskList()
</pre>

@*<a href="@Url.HttpRouteUrl("MinersApi", new { controller = "Tasks", action = "Post", minerId = Model.Id, taskType = "task" })" class="ajax">Cancel All</a>*@