@using SewebarConnect

@model IEnumerable<SewebarConnect.Models.MinerViewModel>

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registered LISp Miners</h1>
<h2>Environment</h2>
<dl>
	<dt>BaseDirectory</dt>
	<dd>@System.AppDomain.CurrentDomain.BaseDirectory</dd>

	<dt>Data Path</dt>
	<dd>@Path.GetFullPath(MvcApplication.Environment.DataPath)</dd>

	<dt>LM path</dt>
	<dd>@Path.GetFullPath(MvcApplication.Environment.LMPath)</dd>

	<dt>LM Pool path</dt>
	<dd>@Path.GetFullPath(MvcApplication.Environment.LMPoolPath)</dd>
</dl>

@if (MvcApplication.Environment.ExistingMiners.Count > 0)
{
	var line = 1;
	
	<h3>Existing miners</h3>
	<table>
		<tr>
			<th></th>
			<th>Id</th>
			<th>Owner</th>
			<th>Created</th>
			<th></th>
		</tr>
		@foreach (var miner in @Model)
		{
			string shared = miner.SharedPool ? "shared" : "non-shared";

			<tr>
				<td>@(line++).</td>
				<td>
					<a href="@Url.Action("Miner", new {guid = miner.Id})" class="@shared">@miner.Id</a>
				</td>
				<td>@miner.Owner</td>
				<td><em style="color: lightgray">@miner.Miner.Created</em></td>
				<td><a href="@Url.Action("Remove", new { guid = miner.Id })" class="ajax">Remove</a></td>
			</tr>
		}
	</table>
}

<hr/>
<span class="annotation shared">shared binaries</span>, <span class="annotation non-shared">private binaries</span>
