@using LMWrapper.LISpMiner
@model LISpMiner
@{
	ViewBag.Title = "Miner";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Miner</h1>
<h2>@Model.Id</h2>
<dl>
	<dt>Home path</dt>
	<dd>@Path.GetFullPath(Model.LMPath)</dd>

	<dt>Created</dt>
	<dd>@Model.Created</dd>

	<dt>Version</dt>
	<dd>@Model.Version</dd>
</dl>

<h2>Tasks</h2>
<pre>
@Model.GetTaskList()
</pre>
<a href="@Url.Action("Cancel", "TaskPool", new { guid = Model.Id })" class="ajax">Cancel All</a>

<h2>DSN</h2>
<dl>
	<dt>Database</dt>
	<dd>@Model.Database.DSNFile</dd>

	<dt>Metabase</dt>
	<dd>@Model.Metabase.DSNFile</dd>
</dl>